body {
    font-family: 'SF Pro Display', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.center {
    padding-left: calc(50% - 640px);
    padding-right: calc(50% - 640px);
    min-width: 668px;
}

.header {
    display: flex;
    background-color: #2f2a2d;
    justify-content: space-between;
    align-items: center;
    color: #fafafa;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header__left {
    display: flex;
}

.wrapper {
    flex-grow: 1;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #2f2a2d;
    flex-grow: 0;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button:focus {
    outline: none;
}

.logo {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}

.e-color {
    color: #a83294;
}

.btn-cart-icon {
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    transition: all ease-in-out .4s;
}

.btn-cart-icon:hover {
    color: seashell;
}

/* .btn-cart {
    background-color: #fafafa;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #2f2a2d;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.btn-cart:hover {
    background-color: transparent;
    border-color: #fafafa;
    color: #fafafa;
} */

.btn-cart,
.logo {
    align-self: center;
}


/*.products {*/
/*display: flex;*/
/*justify-content: space-between;*/
/*flex-wrap: wrap;*/
/*padding: 40px 80px;*/
/*}*/

p {
    margin: 0 0 5px 0;
}


/* .product-price{
    margin-top: 15px;
} */

img {
    max-width: 100%;
    height: auto
}


.invisible {
    display: none;
}

.buy-btn,
.del-btn {
    margin-top: 5px;
    background-color: #2f2a2d;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}

.buy-btn {
    color: #000000;
    background-color: #fff;
}

.buy-btn:hover,
.del-btn:hover {
    background-color: #fafafa;
    color: #2f2a2d;
    border: 1px solid #2f2a2d;
}



.error-msg {
    padding: 30px 20px;
    background-color: red;
    color: white;
    position: relative;
}

.error-block {
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
}

.close-btn {
    font-size: 1.5em;
    top: -40px;
    position: absolute;
    right: 0;
    background: none;
    border: none;
    color: white;
    font-weight: bold;
}

@media (max-width: 767px) {
    .center{
        padding-left: 12px;
        padding-right: 12px;
    }
}
    @media (min-width: 767px) and (max-width: 1280px) {
        .center{
            padding-left: 60px;
            padding-right: 60px;
        }
}